.main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 2.5rem;
	text-align: center;
	min-width: 350px;
	width: 100%;
	max-width: 500px;
}

h3 {
	color: #f8f9fa;
	font-weight: 700;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
}

h4 {
	color: #f8f9fa;
	font-weight: 500;
	letter-spacing: 0.25rem;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.about-subheading {
	color: #f8f9fa;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 2rem;
	max-width: 500px;
	text-align: left;
}

.about-body {
	color: #f8f9fa;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7;
	margin-top: 20px;
	max-width: 600px;
	text-align: left;
	margin-bottom: 0.5rem;
}

.content-underline:link,
.content-underline:visited {
	color: #f8f9fa;
	border-bottom: #93c5fd 4px solid;
}

.content-underline:hover,
.content-underline:active {
	border-bottom: #f9a8d4 4px solid;
	cursor: pointer;
}

aside {
	padding: 2.5rem;
	text-align: right;
	min-width: 350px;
	width: 100%;
	max-width: 500px;
}

.tech-stack-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(160px, 1fr));
	gap: 1rem;
}
