.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	margin-bottom: 2rem;
}

.header h1 {
	padding-bottom: 1.25rem;
}

.header h4 {
	color: #f8f9fa;
	font-weight: 700;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.container h4 {
	color: #f8f9fa;
	font-weight: 700;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
}

.container form {
	background-color: rgb(25, 25, 25);
	border-radius: 20px;
	padding: 50px;
	min-width: 300px;
	width: 100%;
	max-width: 450px;
	text-align: left;
}

.container form label {
	color: #aab4bd;
}
