.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	min-width: 350px;
	padding: 8rem 0;
}

.header h1 {
	padding-bottom: 0.5rem;
}

.header h2 {
	color: #fafafa;
	margin-bottom: 1rem;
}
